@model TrustCarCRM.Models.Vente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Vente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Vente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montant_Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant_Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Methode_Paiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Methode_Paiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut_Paiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut_Paiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientVentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientVentes.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculeVentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculeVentes.VehiculeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurVentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurVentes.UtilisateurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VenteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
