@model TrustCarCRM.Models.RendezVous

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RendezVous</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_RendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_RendezVous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientRendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientRendezVous.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculeRendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculeRendezVous.VehiculeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurRendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurRendezVous.UtilisateurId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RendezVousId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
