@model TrustCarCRM.Models.RendezVous

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RendezVous</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_RendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_RendezVous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientRendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientRendezVous.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculeRendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculeRendezVous.VehiculeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurRendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurRendezVous.UtilisateurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RendezVousId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
