@model IEnumerable<TrustCarCRM.Models.RendezVous>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_RendezVous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientRendezVous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiculeRendezVous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurRendezVous)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_RendezVous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientRendezVous.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehiculeRendezVous.VehiculeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilisateurRendezVous.UtilisateurId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RendezVousId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RendezVousId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RendezVousId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
