@model TrustCarCRM.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Reservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Reservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Expiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientReservations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientReservations.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculeReservations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculeReservations.VehiculeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurReservations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurReservations.UtilisateurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
