@model TrustCarCRM.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom_Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom_Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse_Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse_Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone_Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone_Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Inscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Inscription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
